                  <li><%= link_to "about learnary", "https://github.com/learnery/learnery/" %></li>
                  <li><%= link_to "real berlin site", "http://railsgirlsberlin.de/" %></li>
                  <li><%= link_to "real railsgirls site", "http://railsgirls.com/" %></li>
